body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:120px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:231px;
  width:721px;
  height:119px;
  font-size:48px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  white-space:nowrap;
}
