body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:30px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:100px;
  width:100px;
  height:30px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:100px;
  width:100px;
  height:30px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
.u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
.u104 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
.u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
.u105 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
.u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
.u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u109_img.selected {
}
.u109.selected {
}
.u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
.u110 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
.u110_img.selected {
}
.u110.selected {
}
.u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u103-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:400px;
  height:30px;
}
#u103-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:400px;
  height:30px;
}
#u103-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:400px;
  height:30px;
}
#u103-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:400px;
  height:30px;
}
#u103-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:400px;
  height:30px;
}
#u103-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:400px;
  height:30px;
}
#u103-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:400px;
  height:30px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:130px;
  width:400px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:100px;
  width:100px;
  height:30px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:480px;
  width:140px;
  height:40px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:551px;
  width:140px;
  height:40px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
