body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:545px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:280px;
  height:40px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:100px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
.u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
.u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
.u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
.u65 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:101px;
  height:30px;
}
.u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
.u66 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:0px;
  width:101px;
  height:30px;
}
.u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
.u67 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:101px;
  height:30px;
}
.u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
.u68 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:101px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
.u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
.u69 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:101px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
.u70 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1px;
  width:98px;
  height:28px;
}
.u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u63-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:195px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:58px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:415px;
  width:110px;
  height:57px;
  font-size:28px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:195px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:195px;
  width:101px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:195px;
  width:101px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:195px;
  width:101px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:100px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:212px;
  width:381px;
  height:211px;
  overflow:hidden;
  visibility:hidden;
}
#u78_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:211px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u78_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:211px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:0px;
  width:390px;
  height:210px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:37px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:376px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:140px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:140px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:40px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:68px;
  width:288px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:284px;
  word-wrap:break-word;
}
